@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../src/fondo.jpg");
}

nav{
  width: 100vw;
  background-color: #7f6650;
  border-radius: 10px;
  margin: 10px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
  
.logo {
  max-width: 100px;
  max-height: 100px;
}

.btnalergias{
  background: #dcceb3;
  border: none;
  border-radius: 5px;
  padding: 10px; 
  margin: 5px;
  font-size:medium;
  font-family: 'Kreon', serif;
  }

.btnalergias:hover {
  background-color: #372f20;
  color: white;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5vw;
  border-radius: 10px;
}

section {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #9d8b7b;
  border-radius: 20px;
  background-color: #ead0b7;
}

aside img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.der > h1{
  padding: 1vw; 
  font-family: 'Kreon', serif;
}

.der > p{
  padding: 1vw; 
  font-family: 'Istok Web', sans-serif;
}